
.icon-aplicar:before { content: '\e800'; } /* '' */
.icon-candier:before { content: '\e801'; } /* '' */
.icon-cerrar:before { content: '\e802'; } /* '' */
.icon-chack:before { content: '\e803'; } /* '' */
.icon-direccion:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-habilidad:before { content: '\e806'; } /* '' */
.icon-más:before { content: '\e807'; } /* '' */
.icon-occmundial:before { content: '\e809'; } /* '' */
.icon-tel:before { content: '\e80c'; } /* '' */
.icon-notificacion:before { content: '\e80d'; } /* '' */